<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">

    <title>Discover Your Day</title>
    <meta name="description" content="inspiration">
    <meta name="author">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    </script>
</head>

<body class "bg-info" ng-controller="jokeController as jokeCtrl">

    <!--------------------Header Background-------------------->

    <div id='xop-bg' class="img-responsive">
        <div class='xop-blur-link vertical-align'><a href="https://new.theastrologer.com/">Discover Your Day</a></div>
        <div class='xop-blur-link vertical-align' ng-init="showme=false" ng-click="showme = !showme"><a>Joke</a></div>
        <div class='xop-blur-link vertical-align' ng-init="showus=false" ng-click="showus = !showus"><a>Motivational Quote</a></div>
    </div>

    <script>
        $(function () {
            $('.xop-blur-link a').hover(function () {
                $('#xop-bg').addClass('blur');
            }, function () {
                $('#xop-bg').removeClass('blur');
            });
        });
    </script>

    <!----------------------Joke Display Panel---------------------------->

    <div class="container">
        <div ng-hide="!showme" ng-show="showme" class="mom panel panel-info" ng-class="{ 'col-md-6': showus }">
            <h2 class="lead try"><strong>{{jokeCtrl.joke.joke}}</strong></h2>
            <hr>
            <img class="img-responsive" ng-src="{{jokeCtrl.gif.image_url}}">
            <hr>
            <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
            <hr>
            <button class="top" ng-init="showus=false" ng-click="showus = !showus">Quote</button>
            <button class="top" ng-init="showme=false" ng-click="showme = !showme">Remove</button>
            
        </div>


        <!------------------------Motivational Quote Panel---------------------->

        <div ng-show="showus" class="mot panel panel-info" ng-class="{ 'col-md-6': showme }">
            <h2 class="lead"><strong>{{jokeCtrl.term.title}}</strong></h2>
            <p class="lead">{{jokeCtrl.term.quote}} {{jokeCtrl.term.author}}
            </p>
            <hr>
            <img class="img-responsive" ng-src="{{jokeCtrl.img}}">
            <hr>
            <iframe width="100%" height="165" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1253903&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            <hr>
            <button class="top" ng-init="showme=false" ng-click="showme = !showme">Joke</button>
            <button class="top" ng-init="showus=false" ng-click="showus = !showus">Remove</button>
            
        </div>
    </div>
    </div>
    </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/controller/app.controller.js"></script>
    <script src="app/core/app.factory.js"></script>

</body>

</html>